
.form_pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}


.form-check-label {
  margin-left: 10px; 
}


.cart_box {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}